@media (max-width: 992px) {
    .navbar {
        gap: 10px;
    }

    .discord {
        height: 33px;
        margin-right: 0rem;
        margin-top: 4px;
    }

    .discord p {
        display: none;
    }

    .navbar-list {
        position: absolute;
        top: 80px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background-color: var(--ver-osc);
        border: 1px solid var(--ver-cla);
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 18px;
    }

    .menu-label {
        display: flex;
        order: 2;
        cursor: pointer;
    }

    .menu-label img {
        height: 30px;
        width: 28px;
    }

    #menu-toggle:checked + .navbar-list {
        display: flex;
    }

    .hero-info {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .hero-info h1 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
    }

    .hero-info p {
        width: 60%;
        max-width: 600px;
    }

    .hero-card {
        display: none;
    }

    #info h2 {
        text-align: center;
        width: 80%;
    }

    .info-cards-container {
        max-width: 80%;
    }
}

@media (max-width: 576px) {
    .hero-info p {
        width: 90%;
        padding: 10px;
        line-height: 20px;
        max-width: unset;
    }
    
    #info p {
        width: 90%;
        height: 100px;
    }

    .info-card {
        width: 90%;
        height: 330px;
        justify-content: center;
    }

    .info-card p {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .caja-footer {
        align-items: center;
        padding: 10px;
    }

    .caja-footer h2 {
        margin-bottom: 10px;
    }
}